<%- include('../partials/head') %>
    <title>
        <%= title%>
    </title>
</head>
<body>
<%- include('../partials/nav') %>
    
    <div class="container mt-3">
        <h1>About</h1>
        <a href="/download">Download</a>
    </div>
</body>
</html>